{{>layout/header}} <!-- 파일 위치 기준 경로아니고 절대경로 -->
<h1>Mushache List</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/board/form" role="button" class="btn btn-primary">게시판 글쓰기</a>
        </div>
    </div>
</div>

{{>layout/footer}}