<!DOCTYPE HTML>
<html>
<head>
    <title>Mushache Sample</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
    <h1>Mushache 메인페이지 샘플</h1>

</body>
</html>