{{>layout/header}}
<h1>Mushache 메인페이지 샘플!</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/board/list" role="button" class="btn btn-primary">게시판 리스트</a>

            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" role="button" class="btn btn-info active">로그아웃</a>
            {{/userName}}

            {{^userName}}
                <a href="/oauth2/authorization/google" role="button" class="btn btn-secondary active">Google 로그인</a>
                <a href="/oauth2/authorization/naver" role="button" class="btn btn-success active">Naver 로그인</a>
                <a href="/oauth2/authorization/kakao" role="button" class="btn btn-warning active">Kakao 로그인</a>
            {{/userName}}

        </div>
    </div>
</div>

{{>layout/footer}}